---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
        <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/b874d54b7754ebc15fd2c96ff4daddf7/allmobilize.min.js"></script><meta http-equiv="Cache-Control" content="no-siteapp" /><link rel="alternate" media="handheld" href="#" />
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
