    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>公司介绍</h2>
                <p>泉州旭源商贸有限公司是一家专门针对实验室设备仪器，实验耗材，化学试剂，化工原料，食用添加剂，微生物培养基的仪器，化工分销综合性网络公司。本公司以客户最大利益化，最大便利化，最大服务化为原则，与传统贸易商销售渠道叉开，注重网络渠道开发。一切以成本最小化，客户利益最大化为基础，薄利多销为准则，竭诚为广大客户，采购商提供最大的便利，提供仪器设备，化工原料一站式采购。做好人无我有，人有我优的原则。公司主要面向福建（漳州厦门泉州龙岩三明南平莆田福州宁德），江西（南昌九江景德镇萍乡新余鹰潭赣州宜春上饶吉安抚州）市场。</p>
                <p>
　　旭源商贸自成立以来始终只与中国电信保持密切合作关系，一直是中国电信终端供应平台，长期为天翼品牌的发展做出贡献。阜康通讯积极与各天翼品牌厂家展开深度合作，一直是中国电信天翼主流品牌在福建省的核心代理商。拥有完善的天翼产品批发渠道，能做到覆盖福建省及全国其它部分地市；在福建省泉州和南平内经营十九家天翼终端产品连锁卖场，计划近两年在全省发展三百家连锁卖场。公司始终坚持整体的策略运作带动产品销售，年销售额达两亿元。在与中国电信的合作中能做到市场、产品的实时监控和管理，最大发挥自由资源的效用。</p>
<p>公司自成立以来，首先把企业文化作为决定企业兴衰的关键因素和基业长青的基石，始终坚持“以人为本”、“合作共赢”的理念。在整个经营活动中，通过不懈的努力、以及能迎合福建省电讯市场的营销手段，用智慧、汗水以及执着的信念造就了一个个非凡成就，进而赢得了社会的广泛关注和客户的真诚拥护。</p>
　　<p>公司拥有一个凝聚力强、积极向上、具有实干精神的团队。在历经时代的变迁和行业的考验中，我司将持续坚持“以人为本”、“快乐工作”、“合作共赢”的发展理念，发展是第一要务，稳定前进才是企业守正出奇、依然挺立的关键。我公司推行员工内部创业计划，优秀骨干员工可以持公司、分公司、营业厅的股份，公司采用人性化管理，遵守劳动法，福利待遇优厚，定期举行丰富的员工活动，以及补贴等。全体同仁愿为把企业尽快建设成为最理性、最有前瞻力、最有持久力的常青企业而努力奋斗！</p>
            </div>
        </div>
    </section>